*.o
*.bs
blib/
SQLite.c
*.xsi
pm_to_blib
Makefile
Makefile.old
dll.*
*.def
MYMETA.*
*~
sqlite-3.*
sqlite-autoconf-3*
sqlite-amalgamation-3.*
sqlite.tar.gz
foo*
tmp/
*.pl
*.old
*.bak
*.sqlite
.perl-version
